extends layouts/home-layout.pug 

block content
    script. 
        var postedby=!{postedby}
        var selected='!{selectedtab}'

    -following = user?.following?.length
    -followers = user?.followers?.length 
    
    
    .profilesupply
        .mainprofile
            .profilecontainer
                .coverpicture 
                    .coverpic 
                        img(src=user.coverpicture, alt="default")

                        -if(user._id==userloggedin._id)
                            button.coverpicbutton(type='button', data-toggle='modal', data-target='#coverpicmodal')
                                i.fa-solid.fa-camera.fa-2xl
                    .profilepic
                        img(src=user.profilepicture, alt="default")

                        -if(user._id==userloggedin._id)
                            button.profilepicbutton(type='button', data-toggle='modal', data-target='#profilepicmodal')
                                i.fa-solid.fa-camera.fa-2xl
                .messagesbutton  
                    - if(user._id!=userloggedin._id)
                        a.profilemessagebutton(href=`/messages/${user._id}`)
                            i.fas.fa-envelope
                        - id=userloggedin._id;
                        - if(user.followers && user.followers.includes(id))
                            +createfollowbutton(user,true)
                        - else
                            +createfollowbutton(user,false)
                        
                .userdetails 
                    .profilename #{user.firstname} #{user.lastname}
                    .profileusername @#{user.username}
                    .followerscontainer
                        a(href=`/profile/${user.username}/following`)    
                            span.followingvalue #{following}
                            span &nbsp;&nbsp;Following
                        a(href=`/profile/${user.username}/followers`)
                            span#followersvalue.followersvalue #{followers}
                            span &nbsp;&nbsp;Followers
            .tabcontainer   
                +createtab("Posts",`/profile/${user.username}`,selectedtab!="replies")
                +createtab("Replies",`/profile/${user.username}/replies`,selectedtab=="replies")

    .supply

    +createprofilepicmodal()
    +createcoverpicmodal()
    +createprofiledeletemodal()
    +createunpindeletemodal()
block scripts 
    script(src="/functions/profile.js") 